@import '../../stylesheets/base';

.usergroups {
    display: grid;
    height: 100%;

    .header {
        display: flex;
    }

    .info {
        display: flex;

        .detail {

            .title {
                display: flex;
            }

            .description {
                display: flex;
            }
        }
    }

    .log {
        display: flex;
    }

    .userprojects {
        display: flex;
    }

    .usermembers {
        display: flex;
    }
}
