@import '../../stylesheets/base';

.usergroups {
    @extend %main-content;
    display: flex;
    flex-direction: column;

    .info {
        display: flex;
        padding: $spacing-large;

        .detail {
            .title {
                display: flex;
                font-size: $font-size-super-large;

                .title-name {
                    color: $color-text;
                }
            }

            .description {
                margin: 0;
                color: $color-text-label;
            }
        }
    }

    .userprojects {
        .header {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            justify-content: space-between;
            padding: $spacing-small $spacing-medium;
            height: $height-navbar;
        }
    }

    .usermembers {
        .header {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            justify-content: space-between;
            padding: $spacing-small $spacing-medium;
            height: $height-navbar;
        }
    }
}
