@import '../../stylesheets/base';

$header-height: 48px;
$info-height: 144px;

.profile {
    @extend %main-content;
    display: flex;
    flex-direction: column;

    .info {
        display: flex;
        padding: $spacing-large;

        .detail {
            .name {
                display: flex;
                justify-content: space-between;
                font-size: $font-size-super-large;

                .first {
                    margin-right: $spacing-small;
                    color: $color-text;
                }

                .last {
                    color: $color-text;
                }
            }

            .email {
                margin: 0;
                color: $color-text-label;
            }
        }
    }

    .userproject {
        border-bottom: $width-separator-thin solid $color-separator;

        .header {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            justify-content: space-between;
            padding: $spacing-small $spacing-medium;
            height: $height-navbar;
        }
    }

    .usergroup {
        .header {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            justify-content: space-between;
            padding: $spacing-small $spacing-medium;
            height: $height-navbar;
        }
    }
}
