@import '../../stylesheets/base';

$color-text-on-primary: get-text-color($color-primary);

.workspace {
    @extend %main-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .list-view {
        display: flex;
        flex-direction: column;
    }
}
