django-cors-headers==2.1.0
boto3==1.4.4
django==2.0.2
djangorestframework-camel-case==0.2.0
djangorestframework==3.7.7
drf-dynamic-fields==0.2.0
psycopg2==2.7.3
pyjwt==1.5.3
requests==2.18.4
django-filter==1.0.4
django-storages==1.5.2
django-autofixture==0.12.1
pytest-django==3.4.1
