@import '../../../../stylesheets/base';

.edit-user-group-form {
    @include background-color($color-foreground);
    padding: $spacing-small $spacing-large $spacing-large;
    width: 100%;

    .action-buttons {
        display: flex;
        justify-content: flex-end;

        .action-button {
            margin-left: $spacing-small;
        }
    }
}
